.id {
  left: 0;
}

#device_id {
  left: 0;
}

.button-box {
  right: 0;
  position:fixed;
  padding-top: 10px;
  padding-right: 10px;
}

#share-form {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: rgb(20,170,100);
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 24px;
}

.invisible {
  display: none;
}

#sql {
  width: 100%;
  font-size: 15px;
  line-height: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  overflow: scroll;
  text-align: left;
}

input{
  margin-left: 4px;
}
  
#user {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}

#justification {
  position: absolute;
  bottom: 24px;
  right: 16px;
  font-size: 18px; 
}

* {
  font-family: 'Open Sans', sans-serif;
}

#submit:focus {
  outline: none;
}

#toggle-button:focus {
  outline: none;
}

.id-box {
  display: none; 
  padding-left: 10px; 
  padding-top: 10px;
  padding-bottom:5px;
}

.filter-box-header {
  padding-bottom: 5px;
}

#idAlert {
  float: right;
  margin-right: 120px;
  padding: 1px;
  background-color: rgb(20,170,100);
  color: white;
  width: 140px;
  font-size: 12px;
}

#instructions {
  text-align: center;
}

#search-bar {
  background-image: url(search.svg);
  padding: 10px;
  background-color: rgb(33, 158, 100);
  background-repeat: no-repeat;
  background-size: 35px;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 40px;
  width: 0;
  height: 10px;
  transition: 0.5s;
  overflow-x: hidden;
  right: 0;
}

#search-bar:focus {
  outline:none;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}