#filter-box{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  display: block;
  width: 400px;
}

input{
  margin-left: 4px;
}
  
#user {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}

#justification {
  position: absolute;
  bottom: 24px;
  right: 16px;
  font-size: 18px; 
}

#instruction {
  color: gray;
  margin-left: 15px;
}

#filter-alert {
  padding: 3px;
  margin: 3px;
  margin-left: 250px;
  background-color: darkseagreen;
  border-color: cadetblue;
  color: white;
  width: 0px;
  font-size: 12px;
  opacity: 0;
}

#alert {
  float: right;
  margin-right: 90px;
  padding: 1px;
  background-color: red;
  color: white;
  width: 0px;
  font-size: 12px;
  opacity: 0;
}

@keyframes hide {
    to {
        width:0;
        opacity: 0;
    }
}

.id {
  left:0;
  margin-right: 10px;
}