#filter-box{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  display: block;
  width: 400px;
}

input{
  margin-left: 4px;
}
  
#user {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}

#justification {
  position: absolute;
  bottom: 24px;
  right: 16px;
  font-size: 18px; 
}

#instruction {
  color: gray;
}

#alert {
  float: right;
  margin-right: 90px;
  padding: 1px;
  background-color: red;
  color: white;
  width: 0px;
  font-size: 12px;
  opacity: 0;
  animation: hide 3s;
  animation-delay: 2s;
  /* animation-play-state: paused; */
  animation-fill-mode: forwards;
}

@keyframes hide {
    to {
        width:0;
        opacity: 0;
    }
}
@keyframes show {
    to {
        width: 110px;
        opacity: 100;
    }
}

.closebtn {
  margin-left: 5px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 14px;
  line-height: 12px;
  cursor: pointer;
}

.id {
  left:0;
  margin-right: 10px;
}