th {
  padding: 10px;
  text-align: left;
  background-color: rgb(20,170,100);
  color: white;
}

tr:nth-child(even) {
  background-color: darkgray;
  color: white;
}

tr:nth-child(odd) {
  background-color:  rgb(40,40,40);
  color: white;
}
 
tr:hover {
  background-color: darkgreen;
}